.container {

}

.main {

}

.footer {
}

.footer img {
}

.footer a {
}

.title a {

}

.title a:hover,
.title a:focus,
.title a:active {
}

.title {
}

.title,
.description {
}

.description {

}

.grid {
  transition: 0.7s;
  flex-direction: column-reverse;
  margin: 25%;
  margin-top: 0%;
}
.card img{
  transition: 0.7s;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
  width: 100%;
}

.card img:hover,
.card img:focus,
.card img:active{
  border-bottom-left-radius: 100%;
  transition: 0.5s;
}

.card img:not(hover){
  border-bottom-left-radius: 10%;
  transition: 0.5s;
}

.card {
  transition: 0.7s;
  margin-bottom: 15%;
  border-color: black;
  border-width: 100%;
  border-radius: 10%;
  border-right: 100%;
  border-spacing: 100%;
}

.card_text{
  transition: 0.7s;
  padding: 2%;
}
.card_text h3{
  transition: 0.7s;
  font-size: 0.9cm;
}
.card p{
  transition: 0.7s;
  font-size: 0.6cm;
}

.card:hover,
.card:focus,
.card:active {
  box-shadow: 0 50px 50px 0 rgba(0,0,0,0.2);
  transition: 0.7s;
}

.card h3 {

}

.card p{

}

.logo {

}


.Evox{
  margin: auto;
  padding: 10px;
  text-align: center;
  font-size: 1cm;
  transition: 0.7s;
}


.text_search {
  transition: 0.7s;
  width: 50%;
  border-color: black;
  font-size: 0.7cm;
}

.Evox h1{
  transition: 0.7s;
  margin-bottom: 0cm;
  padding-bottom: 0cm;
}

.Evox p{
  transition: 0.7s;
  margin-top: 0cm;
  padding-top: 0cm;
}

#search{
  transition: 0.7s;
  padding: 10px;
  text-align: center;
}




@media only screen and (max-width: 1000px) {
  .card_text h3{
    transition: 0.7s;
    font-size: .5cm;
  }
  .card p{
    transition: 0.7s;
    font-size: 95%;
  }
  .grid {
    transition: 0.7s;
    margin: 15%;
    margin-top: 0%;
  }
}

@media only screen and (max-width: 650px) {
  .grid{
    transition: 0.7s;
    margin: 0%;
  }
  .card_text h3{
    transition: 0.7s;
    font-size: .5cm;
  }
  .card p{
    transition: 0.7s;
    font-size: 100%;
  }

  .card:hover,
  .card:focus,
  .card:active {
    transition: 0.3s;
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }

  .text_search {
    transition: 0.7s;
    width: 100%;
    border-color: black;
    font-size: 0.7cm;
  }

  .Evox{
    transition: 0.7s;
    font-size: 0.5cm;
  }

}